<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
    <title>About Us</title>
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr">Full Stack Developer</span> And Freelancer</h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 main_header_right">
                        <figure>
                            <img src="./image/Personal site-rafiki.svg " style="width: 37vw;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>